<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="index.html" class="logo">
       SiGef
    </a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">
        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
        <li><a href="meetings.html">About</a></li>
        <li class="scroll-to-section"><a href="#apply">Support</a></li>
        <li class="has-sub">
            <a href="javascript:void(0)">Our Services</a>
            <ul class="sub-menu">
                <li><a href="meetings.html">Personal Financial Management</a></li>
                <li><a href="meeting-details.html">Company Financial Management</a></li>
            </ul>
        </li>
     <!--Incluir en lugar de esta lista dos botones "login" y Sign up-->   
        <li class="scroll-to-section"><a href="#courses">Login</a></li> 
        <li class="scroll-to-section"><a href="#contact">Sign up</a></li> 
    </ul>        
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>