<section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Soporte técnico </h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content percentage">
                                    <div class="count-digit">100%</div>
                                    <div class="count-title">Soporte técnico y acompañamiento constante</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content">
                                    <div class="count-digit">24</div>
                                    <div class="count-title">Soporte todos los días, las 24 horas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content new-students">
                                    <div class="count-digit">365</div>
                                    <div class="count-title">Todo el año</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="count-area-content">
                                    <ul>
                                        <li>
                                            <div class="count-title">Número de contacto</div>
                                            <div class="count-digit">3054330119</div>
                                        </li>
                                        <li>
                                            <div class="count-title">Email</div>
                                            <div class="count-title">eleglot@gmail.com</div>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="video">
                    <a href="https://www.youtube.com/watch?v=5iHzlb9dZKE&ab_channel=AprendizFinanciero" target="_blank"><img
                            src="assets/images/play-icon.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>