<section class="upcoming-meetings" id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories">
                    <h4>Misón</h4>
                    <p>Ofrecer un software intuitivo y eficiente que brinde a las empresas de cultivo de rosas una
                        solución integral para la gestión financiera. Nuestro compromiso es proporcionar herramientas
                        versátiles y de fácil acceso que permitan administrar, analizar y controlar las operaciones
                        financieras, optimizando así la toma de decisiones estratégicas y asegurando un manejo efectivo
                        de los recursos.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories">
                    <h4>Visión</h4>
                    <p>Ser el aliado de confianza para las empresas de cultivo de rosas, destacando como la solución
                        líder en gestión financiera. Nos esforzamos por continuar desarrollando un software innovador,
                        adaptable y orientado a las necesidades cambiantes del sector, consolidando nuestra posición
                        como referente en el impulso del crecimiento económico y la eficiencia operativa en la industria
                        de la floricultura.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories">
                    <h4>Alcance</h4>
                    <p> Si Ge f garantiza la seguridad y protección de datos,
                        cumpliendo con las normativas legales y brindando la posibilidad de exportar repor tes en
                        forma tos PDF para su fácil acceso y distribución . Con una interfaz int uitiva y amigable co n el
                        usuario, que prop ende por la accesibilidad , el software será una herramienta fundamental para
                        mejorar la eficiencia en la gestión fin ancier a y el crecimiento de los negocios.</p>
                </div>
            </div>
        </div>
    </div>
</section>