h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lugrasimo', cursive, 'Times New Roman', Times, serif;
    font-style: oblique;
}

body {
    font-family: 'Cormorant', serif, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}